.cards {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
 }

 .card {
     margin: 20px;
 }

 .loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  img {
    float: left;
    margin-right: 10px;
    clear:both;
}

.action-centered{
  text-align: center;
  }

.container {
  display: flex;
}

.section {
  flex: 1; /*grow*/
  border: 1px solid gainsboro;
}

@media (max-width: 768px) { /*breakpoint*/
  .container {
    flex-direction: column;
  }
}

img.center {
  display: block;
  margin: 0 auto;
}
