.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.space {
    /* This fills the remaining space, by using flexbox. 
      Every toolbar row uses a flexbox row layout. */
    padding: 10px;
}

.editable {
    color: goldenrod;
    font-style: oblique;
}

.model-name {
    font-size: 0.75em;
    font-weight: lighter;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.my-button {
    padding: 0 10px;
    min-width: 0px;
}