<input hidden="true" accept="image/png, image/jpeg" type="file" #fileImagesElement (change)="onLoaded($event)">

<mat-card class="mat-elevation-z0">
    <mat-card-header>
        <mat-card-title>{{'test-model.title' | translate}}</mat-card-title>
        <mat-card-subtitle>{{'test-model.subtitle' | translate}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="text-align: center;">
        <mat-form-field *ngIf="labeledDataManager.modelType=='text'" class="full-width">
            <input name="testText" [(ngModel)]="testText" matInput placeholder="{{'test-model.term' | translate}}" value="">
        </mat-form-field>

        <app-ml-web-cam (onTakeSnapshot)="takeSnapshot($event)" [size]="50" [title]="'imagen de prueba'" [hidden]="!webcam.cameraOn" #webcam></app-ml-web-cam>


        <img *ngIf="testImageURL && labeledDataManager.modelType == 'image' && !webcam.cameraOn" width="75px" id="imageTest" [src]="testImageURL">
        <p *ngIf="testImageURL && labeledDataManager.modelType == 'image'">{{mostLikelyClass}}</p>


    </mat-card-content>

    <mat-card-actions class="action-centered">
        <button *ngIf="labeledDataManager.modelType=='text'" matTooltip="{{'test-model.test.hint' | translate}}" (click)="test()" mat-raised-button>{{'test-model.test' | translate}}
    </button>
        <button *ngIf="labeledDataManager.modelType == 'image' && !webcam.cameraOn" mat-raised-button (click)="testImage()" matTooltip="{{ 'test-model.testImage.hint' | translate}}">
      <mat-icon>image</mat-icon>
    </button>
        <button *ngIf="labeledDataManager.modelType == 'image' && !webcam.cameraOn" mat-raised-button (click)="testImageFromWebcam()" matTooltip="{{ 'test-model.testWebcam.hint' | translate}}">
      <mat-icon>photo_camera</mat-icon>
    </button>
        <button matTooltip="{{ 'test-model.makeScratch.hint' | translate}}" (click)="loadScratch()" matTooltip="Hacer un programa en Scratch con este modelo" mat-raised-button>
      <img src="assets/images/scratch_icon.svg">
    </button>
    </mat-card-actions>

</mat-card>

<mat-card *ngIf="resultImage || result" class="test-card">
    <mat-card-content *ngIf="labeledDataManager.modelType=='text'">
        <div *ngIf="result">

            <p>{{confidenceText}}</p>
            <ul>
                <li *ngFor="let item of prediction">
                    {{item[0] }} ({{item[1] * 100 | number:'1.2-2'}} %)
                    <mat-progress-bar [value]="item[1] * 100">
                    </mat-progress-bar>
                </li>
            </ul>


        </div>
    </mat-card-content>
    <mat-card-content *ngIf="labeledDataManager.modelType=='image' && resultImage">
        <p>{{confidenceText}}</p>
        <ul>
            <li *ngFor="let item of resultImage">
                {{item[0] }} ({{item[1] * 100 | number:'1.2-2'}} %)
                <mat-progress-bar [value]="item[1] * 100">
                </mat-progress-bar>
            </li>
        </ul>

    </mat-card-content>
</mat-card>