<button class="my-button" *ngIf="!authService.isAuthenticated" (click)="showSignupForm()" mat-button>
    <mat-icon>people_outline</mat-icon> {{'login.join' | translate}}
</button>
<button class="my-button" *ngIf="!authService.isAuthenticated" (click)="showLoginForm()" mat-button>
    <mat-icon>person</mat-icon> {{'login.initsession' | translate}}
</button>
<button class="my-button" *ngIf="authService.isAuthenticated" mat-button [matMenuTriggerFor]="menu">
    
    {{username}}<mat-icon>expand_more</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openMyStuff()"><mat-icon>folder</mat-icon>{{'login.mystuff' | translate}}</button>
    <button mat-menu-item (click)="openSharedStuff()"><mat-icon>folder_shared</mat-icon>{{'login.sharedprojects' | translate}}</button>
    <button mat-menu-item (click)="openSendBug()"><mat-icon>send</mat-icon>{{'login.sendbug' | translate}}</button>
    <button mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>{{'login.closesession' | translate}}</button>
</mat-menu>