.footer {
    position: botton;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #673ab7;
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: small;
  }

  a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: gainsboro;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: white;
  }