.home-card {
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    
}

.card-subcontainer {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    max-width: 400px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}